h2 {
    text-align: center;
}

audio {
    text-align: center;
    margin-left: 39.35%;
    margin-bottom: 0;
    height: 35px;
    line-height: 35px;
}

.now-playing {
    margin-left: 2rem;
    text-align:center;
}

#search-bar {
    width: 65%;
    margin-left: 12%;
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

.search-results {
    margin-left: 2rem;
}

.music-container {
    display: flex;
}

.music-group {
    flex-direction: column;
}

.music-box {
    border: 2px solid purple;
    width: 150px;
    height: 150px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

.artist {
    text-align: center;
}

.title {
    text-align: center;
}

